  * {
  margin: 0;
  padding: 0;
}

.bac{
  background-image: url(./peakpx.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  z-index: 0;
  background-position: center;

}
.z_1{
  position: relative;
  z-index: 1;
}

.glavni {
  background-color: #1E90FF;
  padding: 20px;
  color: #ffffff;
  text-align: center;

}

.glavni p {
  color: #333333;
  margin-top: 20px;
}


.down-tri {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 0.8em solid white; /* ранги дилхоҳ */
}
fieldset{
  border: 2px solid #333333;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #333333;
  backdrop-filter: blur(10px);          /* мат кардани пушти он */
  
}
.lessons { 
  padding-left: 30px;
  width: 40%;
  
  
  
}
.lessons h1 { 
  padding: 20px;

}
/* .lessons button { 
  background-color: #1E90FF;
  width: 90%;
  padding: 5px;
  margin: 5px auto;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 1px solid black;
  text-align: start;
} */
/* .lessons button a{ 
  text-decoration: none;
  color: white;
} */
/* .lessons button:hover{ 
  background-color: #333333;
} */

fieldset {
  /* background-color: red; */
}
fieldset a{
  text-decoration: none;
}

fieldset a p {
  background-color: #1E90FF;
  text-align: start;
  padding: 5px;
  border: 1px solid black;
  /* border-top-right-radius: 100px; */
  border-radius: 10px;
  margin: 10px;
  color: #ffffff;
}
fieldset a p:hover {
  background-color: #333333;
  box-shadow: 0px 5px 10px black;
}

footer {
  position: fixed;
  top: 95vh;
  width: 100%;
  text-align: center;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  
}







/* ____________media 800px______________ */




@media (max-width: 800px) {

  footer{
    height: 3vh;
    top: 95vh;

  }

  .lessons {
    width: 60%;
  }
  .lessons_media{ 
    display: block;
    width: 80%;
  }
  legend {
    font-size: ;
  }


}



/* ____________media 500px______________ */



@media (max-width: 500px){
  .bac{
    /* background-image: url(./peakpx\ \(1\).jpg); */
  }
  .lessons{
    width: 65%;
  }
  .lessons button {
    width: 90%;

  }
  
}
